<section class="flat-row flat-imagebox background">
  <div class="container">
    <section class="flat-row flat-team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="flat-row-title center">
              <h2>{{'featuredAds' | translate}}</h2>
            </div>
            <!-- /.flat-row-title -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <owl-carousel [items]="data" [options]="owlOptions">
              <app-card-v  *ngFor="let item of data" [details]="item" ></app-card-v>
            </owl-carousel>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>