<section class="flat-row flat-imagebox background">
  <div class="container">
    <section class="flat-row flat-team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="flat-row-title center">
              <h2>إعلانات مميزة</h2>
            </div>
            <!-- /.flat-row-title -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel">
              <app-card-v></app-card-v>
              <app-card-v></app-card-v>
              <app-card-v></app-card-v>
              <app-card-v></app-card-v>
              <app-card-v></app-card-v>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>