<section class="flat-row flat-login parallax1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="signup-form">
          <h3>إنشاء حساب </h3>
          <form  novalidate (submit)="submit(form.value)" #form="ngForm" accept-charset="utf-8">
            <div class="wrap-signup">
              <label>اسم المستخدم</label>
              <input type="text" class="username" name="username" ngModel>
            </div>
            <div class="wrap-signup">
              <label>كلمة المرور</label>
              <input type="password" class="password" name="password" ngModel>
            </div>
            <div class="wrap-signup">
              <label>تأكيد كلمة المرور</label>
              <input type="password" class="password" name="repassword" ngModel>
            </div>
            <div class="wrap-signup category">
              <label>Gender</label>
              <span class="ti-angle-down"></span>
              <select name="category" ngModel>
                <option value="">ذكر </option>
                <option value="">أنثى</option>
              </select>
            </div>
            <div class="wrap-signup">
              <label>المواليد</label>
              <input type="text"  name="birth" ngModel>
            </div>
            <button type="submit">
              <div class="btn-more">
                <a title="">إنشاء حساب</a>
              </div>
            </button>
          </form><!-- /form -->
        </div><!-- /.login-form -->
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.flat-login -->
