<div class="ads">
  <div class="ads-icon">
    <img src="assets/images/page/villa.jpg" />
  </div>
  <div class="ads-text">
    <div class="title">
      <h4>{{ad['title']}}</h4>
    </div>
    <div class="desc">
      {{ad['description']}}
    </div>
  </div>
  <div class="ads-control">
    <div class="ads-control-edit">
      <a href="#">{{'edit' | translate}}
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="ads-control-delete">
      <a href="#">{{'delete' | translate}}
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
