<div class="ads">
  <div class="ads-icon">
    <img [src]="ad['media'][0]['url']" />
  </div>
  <div class="ads-text">
    <div class="title">
      <a [routerLink]="['/ad',ad['id']]">
      <h4>{{ad['title']}}</h4>
      </a>
    </div>
    <div class="desc">
      {{ad['description']}}
    </div>
  </div>
  <div class="ads-control">
    <div class="ads-control-edit">
      <a [routerLink]="['/ad',ad['id'],'edit']">{{'edit' | translate}}
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="ads-control-delete">
      <a >{{'delete' | translate}}
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
