<div class="ads">
  <div class="ads-icon">
    <img [src]="ad['media'][0]?.url" />
  </div>
  <div class="ads-text">
    <div class="title">
      <a [routerLink]="['/ad',ad['id']]">
      <h4>{{ad['title']}}</h4>
      </a>
    </div>
    <div class="desc">
      {{ad['description']}}
    </div>
  </div>
  <div class="ads-control">
    <div class="ads-control-edit">
      <a [routerLink]="['/ad',ad['id'],'edit']">{{'edit' | translate}}
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="ads-control-delete">
      <a (click)="removeModal.open()">{{'delete' | translate}}
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<ngx-smart-modal #removeModal identifier="removeAd">
  <div class="smart-modal-header" >
    <h3>{{'remove' | translate}}</h3>
  </div>
  <div class="smart-modal-content" >

    {{"removeConfirmation"|translate}}

  </div>
  <div class="smart-modal-footer">
    <button class="btn btn-danger" (click)="remove()">{{'remove'|translate}}</button>
    <button class="btn btn-primary" (click)="removeModal.close()">{{'close'|translate}}</button>
  </div>

</ngx-smart-modal>
