<section class="page-title style1 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
         {{'homeTitle' | translate}}
        </div>
        <div class="text-heading">
           {{'homeSubTitle' | translate}}
        </div>
        <div class="wrap-box-search">
          <form action="#" method="get" accept-charset="utf-8">
            <span>
              <input type="text" placeholder="{{'searchForWhat' | translate}}" name="search">
            </span>
            <span class="location">
              <span class="ti-location-pin"></span>
              <input type="text" placeholder="{{'location' | translate}}" name="location">
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories">
                <option value="">{{'chooseCategory' | translate }}</option>
                <option value="">مطاعم</option>
                <option value="">فنادق </option>
                <option value="">ملاعب</option>
              </select>
            </span>
            <button type="submit" class="search-btn">{{'search' | translate}}</button>
          </form>
          <!-- /form -->
        </div>
        <!-- /.wrap-box-search -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay"></div>
</section>

  <section class="flat-highlights">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="highlights">
            <ul class="menu-list">
              <li *ngFor="let item of categories">
                <a href="#" (click)= "filterBy(item)"> 
                  <img src="{{item.icon}}"/>
                  <span>{{item.titleAr}}</span>
                </a>
              </li>
              <!-- <li>
                <a href="#" title="">
                  <img src="assets/images/page/cutlery.png" alt="">
                  <span>مطاعم</span>
                </a>
  
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/double-bed.png" alt="">
                  <span>فنادق</span>
                </a>
  
              </li>
              <li class="active">
                <a href="#" title="">
                  <img src="assets/images/page/guitar.png" alt="">
                  <span>ملاعب</span>
                </a>
  
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/rent-a-car.png" alt="">
                  <span>معارض</span>
                </a>
  
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/shopping-bag.png" alt="">
                  <span>أسواق</span>
                </a>
  
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/dumbbell.png" alt="">
                  <span>أندية</span>
                </a>
  
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/cocktail.png" alt="">
                  <span>كافتيريا</span>
                </a>
  
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/park.png" alt="">
                  <span>منتزهات</span>
                </a>
  
              </li> -->
            </ul>
            <!-- /.menu-list -->
          </div>
          <!-- /.highlights -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.flat-highlights -->