<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          {{"addNewBusiness" | translate}}
        </div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay1"></div>
</section>
<!-- /.page-title -->

<section class="flat-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-listing" novalidate #form="ngForm">
          <div class="inner-box form">
            <div class="one-half">
              <div class="clearfix"></div>

              <div class="wrap-listing">
                <label> {{"nameEn" | translate}}</label>
                <input type="text" name="nameEn" ngModel #nameEn="ngModel" required>
                <app-form-validation-message [form]="form" [control]="nameEn" [messages]="{required:'requiredMessage'}"
                  [params]="{name:'nameEn'}">
                </app-form-validation-message>
              </div>
              <div class="wrap-listing">
                <label> {{"nameAr" | translate}}</label>
                <input type="text" name="nameAr" ngModel #nameAr="ngModel" required>
                <app-form-validation-message [form]="form" [control]="nameAr" [messages]="{required:'requiredMessage'}"
                  [params]="{name:'nameAr'}">
                </app-form-validation-message>
              </div>
              <div class="wrap-listing category-half">
                <label> {{"isSupplier" | translate}}</label>
                <span class="ti-angle-down"></span>
                <select name="supplier" [(ngModel)]="isSupplier" #supplier="ngModel" required
                  (change)="onSupplierChange()">
                  <option value=""></option>
                  <option [value]="true"> {{ "yes" | translate }} </option>
                  <option [value]="false"> {{ "no" | translate }} </option>
                </select>
                <app-form-validation-message [form]="form" [control]="supplier"
                  [messages]="{required:'requiredMessage'}" [params]="{name:'supplier'}">
                </app-form-validation-message>
              </div>

              <div class="wrap-listing category-half">
                <label>{{"category" | translate}}</label>
                <span class="ti-angle-down"></span>
                <select name="categoryId" (change)="onCategoryChange()" [(ngModel)]="selectedCategory"
                  #category="ngModel" required>
                  <option [value]="i" *ngFor="let cat of categories;let i=index">
                    <ng-container *ngIf="lang=='ar'">
                      {{cat.titleAr}}
                    </ng-container>
                    <ng-container *ngIf="lang!='ar'">
                      {{cat.titleEn}}
                    </ng-container>
                  </option>
                </select>
                <app-form-validation-message [form]="form" [control]="category"
                  [messages]="{required:'requiredMessage'}" [params]="{name:'category'}">
                </app-form-validation-message>
              </div>
              <div class="clearfix"></div>

              <div class="wrap-listing location">
                <label>{{'address'| translate}}</label>
                <span class="ti-target"></span>
                <input name="address" placeholder="مثال.” المزة فيلات”" type="text" ngModel>
              </div>
              <!-- /.wrap-listing -->
              <div class="clearfix"></div>


            </div>
            <div class="one-half">
              <div class="clearfix"></div>
              <div class="wrap-listing phone">
                <label>{{"phoneNumber1" | translate}}</label>
                <input type="text" name="phone1" ngModel #phone1="ngModel" required>
                <app-form-validation-message [form]="form" [control]="phone1" [messages]="{required:'requiredMessage'}"
                  [params]="{name:'phoneNumber1'}">
                </app-form-validation-message>
              </div>
              <div class="wrap-listing phone">
                <label>{{"phoneNumber2" | translate}}</label>
                <input type="text" name="phone2" ngModel [disabled]="!phone1.value">
              </div>
              <div class="clearfix"></div>
              <div class="wrap-listing fax">
                <label>{{"faxNumber" | translate}}</label>
                <input type="text" name="fax" ngModel>
              </div>
              <div class="clearfix"></div>

              <div class="wrap-listing category-half">
                <label>{{"subCategory" | translate}}</label>
                <span class="ti-angle-down"></span>
                <select name="subCategoryId" [(ngModel)]="subCategoryId" #subCategory="ngModel" required>
                  <option [value]="cat.id" *ngFor="let cat of subCategories">
                    <ng-container *ngIf="lang=='ar'">
                      {{cat.titleAr}}
                    </ng-container>
                    <ng-container *ngIf="lang!='ar'">
                      {{cat.titleEn}}
                    </ng-container>
                  </option>
                </select>
                <app-form-validation-message [form]="form" [control]="subCategory"
                  [messages]="{required:'requiredMessage'}" [params]="{name:'subCategory'}">
                </app-form-validation-message>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div>

              <div class="clearfix"></div>
              <app-location-picker ngModel name="locationPoint"></app-location-picker>

            </div>
            <div class="one-half1"
              *ngIf="categories && selectedCategory && categories[selectedCategory] && categories[selectedCategory].code=='pharmacies'">
              <label>{{'workingHours' | translate}}</label>
              <div class="wrap-listing business">


                <ng-select name="openingDays" ngModel [multiple]="true">
                  <ng-option value="1">{{'sunday'|translate}}</ng-option>
                  <ng-option value="2">{{'monday'|translate}}</ng-option>
                  <ng-option value="3">{{'tuesday'|translate}}</ng-option>
                  <ng-option value="4">{{'wednesday'|translate}}</ng-option>
                  <ng-option value="5">{{'thursday'|translate}}</ng-option>
                  <ng-option value="6">{{'friday'|translate}}</ng-option>
                  <ng-option value="7">{{'saturday'|translate}}</ng-option>
                </ng-select>

              </div>
              <!--<app-working-hour-input name="openingDays" ngModel></app-working-hour-input>-->
            </div>
            <div class="clearfix"></div>
            <div class="one-half">
              <div class="wrap-listing category-half">
                <label>{{'city' | translate}}</label>
                <span class="ti-angle-down"></span>
                <select name="cityId" [(ngModel)]="selectedCity" (change)="cityChanged()" #cityId="ngModel" required>
                  <option *ngFor="let city of cities" [value]="city.id">
                    <ng-container *ngIf="lang=='ar'">
                      {{city['nameAr']}}
                    </ng-container>
                    <ng-container *ngIf="lang!='ar'">
                      {{city['nameEn']}}
                    </ng-container>
                  </option>
                </select>
                <app-form-validation-message [form]="form" [control]="cityId" [messages]="{required:'requiredMessage'}"
                  [params]="{name:'city'}">
                </app-form-validation-message>
              </div>
            </div>
            <div class="one-half">
              <div class="wrap-listing category-half">
                <label>{{'location' | translate}}</label>
                <span class="ti-angle-down"></span>
                <select name="locationId" [(ngModel)]="locationId" [disabled]="!selectedCity" #location="ngModel"
                  required>
                  <option *ngFor="let location of locations" [value]="location.id">
                    <ng-container *ngIf="lang=='ar'">
                      {{location['nameAr']}}
                    </ng-container>
                    <ng-container *ngIf="lang!='ar'">
                      {{location['nameEn']}}
                    </ng-container>
                  </option>
                </select>
                <app-form-validation-message [form]="form" [control]="location"
                  [messages]="{required:'requiredMessage'}" [params]="{name:'location'}">
                </app-form-validation-message>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="one-half">
              <label>{{'details' | translate}}</label>
              <textarea placeholder="{{'writeDetailsOfYourAd' | translate}}" name="description" ngModel></textarea>
              <div class="clearfix"></div>
            </div>


            <div class="one-half">
              <div class="clearfix"></div>
              <div class="wrap-listing half">
                <div class="col-12">
                  <label>{{'businessImages'| translate}}</label>
                  <input-file fileAccept=".mp4,.jpg,.jpeg,.mpeg,.png" [fileLimit]="20" [(ngModel)]="files"
                    [ngModelOptions]="{standalone: true}"></input-file>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
              <button type="submit" class="display-content" [disabled]="form.submitted && form.invalid"
                (click)="submit(form.value)">
                <div class="btn-more submit-button">
                  <a>{{'registerBusiness'| translate}}</a>
                </div>
              </button>
              <p *ngIf="form.submitted && !form.value.locationPoint" class="alert alert-danger">
                Pick a location Point on the Map
              </p>
            </div>


            <div class="clearfix"></div>


          </div>
          <!-- /.inner-box -->

        </form>
        <!-- /.form-listing -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-listing -->

<ngx-spinner></ngx-spinner>
