<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          إضافة نشاط تجاري
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay"></div>
</section>
<!-- /.page-title -->


  <section class="flat-listing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form  class="form-listing" novalidate #form="ngForm" (submit)="submit(form.value)">
            <div class="inner-box form">

              <div class="one-half">
                <div class="wrap-listing">
                  <label>اسم الإعلان</label>
                  <input type="email" name="ads-name" placeholder="اسم الإعلان الخاص بك">
                </div>
                <!-- /.wrap-listing -->
                <div class="clearfix"></div>
                <div class="wrap-listing phone">
                  <label>رقم الهاتف</label>
                  <input type="text" name="رقم الهاتف" placeholder="111-222-3333">
                </div>
                <div class="wrap-listing phone">
                  <label>رقم الهاتف</label>
                  <input type="text" name="رقم الهاتف" placeholder="111-222-3333">
                </div>
                <div class="clearfix"></div>

              </div>
              <div class="one-half">
                <div class="clearfix"></div>
                <div class="wrap-listing fax">
                  <label>رقم الفاكس</label>
                  <input type="text" name="رقم الفاكس" placeholder="111-222-3333">
                </div>
                <div class="clearfix"></div>
                <div class="wrap-listing category-half">
                  <label>نوع العمل</label>
                  <span class="ti-angle-down"></span>
                  <select name="subcategory">
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="wrap-listing category-half">
                  <label>الفئة الفرعية</label>
                  <span class="ti-angle-down"></span>
                  <select name="subcategory">
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                  </select>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
              <div class="one-half">
                <div class="wrap-listing location">
                  <label>الموقع</label>
                  <span class="ti-target"></span>
                  <input name="yourname" placeholder="e.g.”New York”" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="pdmap style2" id="flat-map">
                  <div class="flat-maps" data-address="Thành phố New York, Tiểu bang New York" data-name="Themesflat Map"></div>
                  <div class="gm-map">
                    <div class="map-3"></div>
                  </div>
                </div>
              </div>
              <div class="one-half">
                <label>إضافة ساعات العمل</label>
                <div class="wrap-listing business">
                  <div class="day">
                    <span class="ti-angle-down"></span>
                    <select name="day">
                      <option value="">Saturday</option>
                      <option value="">Saturday</option>
                      <option value="">Saturday</option>
                    </select>
                  </div>
                  <div class="hour-from">
                    <span class="ti-angle-down"></span>
                    <select name="hour-from">
                      <option value="">09:00</option>
                      <option value="">09:00</option>
                      <option value="">09:00</option>
                    </select>
                  </div>
                  <div class="hour-to">
                    <span class="ti-angle-down"></span>
                    <select name="hour-to">
                      <option value="">22:00</option>
                      <option value="">22:00</option>
                      <option value="">22:00</option>
                    </select>
                  </div>
                  <div class="btn-business">
                    <button class="ti-plus" type="button"></button>
                  </div>
                  <span class="clearfix"></span>
                </div>
                <!-- /.wrap-listing -->
                <div class="info-business">
                  <div class="item">
                    <span class="date">Monday</span>
                    <span class="hour-from">09:00</span>
                    <span class="line">-</span>
                    <span class="hour-to">22:00</span>
                    <span class="btn-close ti-close"></span>
                  </div>

                  <div class="item">
                    <span class="date">Monday</span>
                    <span class="hour-from">09:00</span>
                    <span class="line">-</span>
                    <span class="hour-to">22:00</span>
                    <span class="btn-close ti-close"></span>
                  </div>
                  <div class="item">
                    <span class="date">Monday</span>
                    <span class="hour-from">09:00</span>
                    <span class="line">-</span>
                    <span class="hour-to">22:00</span>
                    <span class="btn-close ti-close"></span>
                  </div>
                  <div class="item">
                    <span class="date">Monday</span>
                    <span class="hour-from">09:00</span>
                    <span class="line">-</span>
                    <span class="hour-to">22:00</span>
                    <span class="btn-close ti-close"></span>
                  </div>
                  <div class="item">
                    <span class="date">Monday</span>
                    <span class="hour-from">09:00</span>
                    <span class="line">-</span>
                    <span class="hour-to">22:00</span>
                    <span class="btn-close ti-close"></span>
                  </div>
                </div>

              </div>
              <div class="clearfix"></div>
              <div class="one-half">
                <div class="wrap-listing category-half">
                  <label>المدينة</label>
                  <span class="ti-angle-down"></span>
                  <select name="select-city">
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                  </select>
                </div>
              </div>
              <div class="one-half">
                <div class="wrap-listing category-half">
                  <label>المنطقة</label>
                  <span class="ti-angle-down"></span>
                  <select name="select-area">
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                    <option value="">Choose Your Bussines Category</option>
                  </select>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="one-half">
                <label>تفاصيل</label>
                <textarea placeholder="اكتب التفاصيل الخاصة بالإعلان الخاص بك"></textarea>
                <div class="clearfix"></div>
              </div>


              <div class="one-half">
                <div class="clearfix"></div>
                <div class="wrap-listing half">
                  <label>Your Business Images</label>
                  <div class="browse ">
                    <div id="preview-box" class="col-md-12 preview-box">

                    </div>
                    <div class="upload">
                      <span>Browse files</span>
                      <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="col-md-12">
                <button type="submit" style="display: contents;">
                  <div class="btn-more submit-button">
                    <a >تسجيل الإعلان</a>
                  </div>
                </button>

              </div>

              <div class="clearfix"></div>


            </div>
            <!-- /.inner-box -->

          </form>
          <!-- /.form-listing -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.flat-listing -->
