<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          {{user?.username}}
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay1"></div>
</section>
<!-- /.page-title -->

<div class="container-fluid without-padding cloudy-bg">
  <div class="col-md-12 without-padding">
    <div class="profile-image-container">
      <!--<div class="change-image">{{'edit' | translate}} </div>-->
      <img class="profile-img" *ngIf="!user?.imageProfile" src="http://via.placeholder.com/150x150" />
      <img class="profile-img" *ngIf="user?.imageProfile" [src]="user?.imageProfile" />
    </div>
    <div class="col-md-12 text-center">
      <div class="">
        {{'addedAds' | translate}}
      </div>
      <div class="ads-count">
       {{ads?.length}}
      </div>
    </div>
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.container -->

<section class="cloudy-bg">
  <section class="flat-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="#" class="form-listing" method="get" accept-charset="utf-8">

            <div class="inner-box form">
              <div class="one-half">
                <div class="wrap-listing username">
                  <label>{{'username' | translate}}</label>
                  <div class="user-name-text">{{user?.username}}</div>
                </div>
                <!-- /.wrap-listing -->
                <!--<label>{{'birth' | translate}}</label>-->
                <!--<div class="wrap-listing business">-->
                  <!--<div class="user-birth-text">{{user?.birthDate}}</div>-->
                  <!--<span class="clearfix"></span>-->
                <!--</div>-->
                <!-- /.wrap-listing -->
                <div class="clearfix"></div>

              </div>
              <div class="one-half">
                <div class="wrap-listing phone">
                  <label>{{'email' | translate}}</label>
                  <div class="user-email-text">{{user?.email}}</div>
                </div>
                <div class="clearfix"></div>
                <!--<div class="wrap-listing category">-->
                  <!--<label>{{'gender' | translate}}</label>-->
                  <!--<div class="user-gender-text">{{user?.gender | translate}}</div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->


              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 text-left">
                <a [routerLink]="['/profile','edit']">{{'editData' | translate}}</a>
              </div>

            </div>
            <!-- /.inner-box -->

          </form>
          <!-- /.form-listing -->
        </div>

        <!-- /.col-md-12 -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="inner-box profile-ads-list">
            <div class="main-title">
              <h3>My Ads</h3>
            </div>

            <ng-container *ngFor="let ad of ads">
              <app-ads-card [ad]="ad"></app-ads-card>
            </ng-container>

          </div>
        </div>

        <div class="col-md-6">
          <div class="inner-box profile-business-list">
            <div class="main-title text-center">
              <h3>My business</h3>
            </div>

            <ng-container *ngFor="let business of businesses;let i=index">
              <app-business-card [business]="business" (onRemove)="removeBusiness(business,i)"></app-business-card>
            </ng-container>
          </div>
        </div>

        <div class="clearfix"></div>
        <!--<div class="col-md-12 subs">-->
          <!--<app-category-selector></app-category-selector>-->
        <!--</div>-->
        <div class="col-md-12 subs" id="chooseCategory">
          <div class="inner-box subscribed-list">
            <div class="subscribed">
              <div class="title">
                <h3>{{'mySubscription' | translate}}</h3>
              </div>
              <br/>
              <div class="row">
                <app-category-selector [categories]="postCategories" [selectedSubCategory]="user?.postCategoriesIds" (changed)="editCat($event)"></app-category-selector>
                <!--<div class="col-xs-3" *ngFor="let cat of postCategories">-->
                  <!--<div class="pretty p-default p-thick">-->
                    <!--<input type="checkbox" [(ngModel)]="categories[cat['id']]" (change)="editCat(cat)" />-->
                    <!--<div class="state p-warning">-->
                      <!--<label *ngIf="lang=='ar'">{{cat['titleAr']}}</label>-->
                      <!--<label *ngIf="lang=='en'">{{cat['titleEn']}}</label>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.flat-listing -->
</section>

<ngx-smart-modal #myModal identifier="myModal">
  <div class="smart-modal-header" >
    <h3>{{'mySubscription' | translate}}</h3>
  </div>

  <div class="smart-modal-content" >
    <app-category-selector [categories]="postCategories" [selectedSubCategory]="user?.postCategoriesIds" (changed)="editCat($event)"></app-category-selector>
  </div>
  <div class="smart-modal-footer">
    <button class="btn btn-primary" (click)="myModal.close()">{{'close'|translate}}</button>
  </div>

</ngx-smart-modal>


