<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          {{user['username']}}
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay"></div>
</section>
<!-- /.page-title -->

<div class="container-fluid without-padding cloudy-bg">
  <div class="col-md-12 without-padding">
    <div class="profile-image-container">
      <div class="change-image">{{'edit' | translate}} </div>
      <img class="profile-img" src="http://via.placeholder.com/150x150" />
    </div>
    <div class="col-md-12 text-center">
      <div class="">
        {{'addedAds' | translate}}
      </div>
      <div class="ads-count">
        12
      </div>
    </div>
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.container -->

<section class="cloudy-bg">
  <section class="flat-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="#" class="form-listing" method="get" accept-charset="utf-8">

            <div class="inner-box form">
              <div class="one-half">
                <div class="wrap-listing username">
                  <label>{{'username' | translate}}</label>
                  <div class="user-name-text">{{user['username']}}</div>
                </div>
                <!-- /.wrap-listing -->
                <label>{{'birth' | translate}}</label>
                <div class="wrap-listing business">
                  <div class="user-birth-text">{{user['birthDate']}}</div>
                  <span class="clearfix"></span>
                </div>
                <!-- /.wrap-listing -->
                <div class="clearfix"></div>

              </div>
              <div class="one-half">
                <div class="wrap-listing phone">
                  <label>{{'email' | translate}}</label>
                  <div class="user-email-text">{{user['email']}}</div>
                </div>
                <div class="clearfix"></div>
                <div class="wrap-listing category">
                  <label>{{'gender' | translate}}</label>
                  <div class="user-gender-text">{{user['gender'] | translate}}</div>
                </div>
                <div class="clearfix"></div>


              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 text-left">
                <a [routerLink]="['/profile',id,'edit']">{{'editData' | translate}}</a>
              </div>

            </div>
            <!-- /.inner-box -->

          </form>
          <!-- /.form-listing -->
        </div>

        <!-- /.col-md-12 -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="inner-box profile-ads-list">
            <div class="main-title">
              <h3>My Ads</h3>
            </div>

            <app-ads-card></app-ads-card>
            <app-ads-card></app-ads-card>
            <app-ads-card></app-ads-card>
            <app-ads-card></app-ads-card>
            <app-ads-card></app-ads-card>
          </div>
        </div>

        <div class="col-md-6">
          <div class="inner-box profile-business-list">
            <div class="main-title text-center">
              <h3>My business</h3>
            </div>

            <app-business-card></app-business-card>
            <app-business-card></app-business-card>
            <app-business-card></app-business-card>
            <app-business-card></app-business-card>
            <app-business-card></app-business-card>
            <app-business-card></app-business-card>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12 subs">
          <div class="inner-box subscribed-list">
            <div class="subscribed">
              <div class="title">
                <h3>My subscribed</h3>
              </div>
              <div class="select-filter">
                <ul class="list-filter quarter">
                  <li class="active">
                    <span class="ti-check-box"></span>مطاعم
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>فنادق
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>مسابح
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>نوادي
                  </li>
                </ul>
                <ul class="list-filter quarter">
                  <li class="active">
                    <span class="ti-check-box"></span>مطاعم
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>فنادق
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>مسابح
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>نوادي
                  </li>
                </ul>
                <ul class="list-filter quarter">
                  <li class="active">
                    <span class="ti-check-box"></span>مطاعم
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>فنادق
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>مسابح
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>نوادي
                  </li>
                </ul>
                <ul class="list-filter quarter">
                  <li class="active">
                    <span class="ti-check-box"></span>مطاعم
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>فنادق
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>مسابح
                  </li>
                  <li class="active">
                    <span class="ti-check-box"></span>نوادي
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <!-- /.select-filter -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.flat-listing -->
</section>
