<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          {{user?.username}}
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay1"></div>
</section>
<!-- /.page-title -->

<div class="container-fluid without-padding cloudy-bg">
  <div class="col-md-12 without-padding">
    <div class="profile-image-container">
      <!--<div class="change-image">{{'edit' | translate}} </div>-->
      <img class="profile-img" *ngIf="!user?.imageProfile" src="http://via.placeholder.com/150x150" />
      <img class="profile-img" *ngIf="user?.imageProfile" [src]="user?.imageProfile" />
    </div>
    <div class="col-md-12 text-center">
      <div class="">
        {{'addedAds' | translate}}
      </div>
      <div class="ads-count">
        {{ads?.length}}
      </div>
    </div>
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.container -->





<section class="cloudy-bg">
  <section class="flat-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="#" class="form-listing" method="get" accept-charset="utf-8">

            <div class="inner-box form">

              <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;">
                <div>
                  <div class="wrap-listing username">
                    <label>{{'username' | translate}}</label>
                    <div class="user-name-text">{{user?.username}}</div>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div>
                  <div class="wrap-listing phone">
                    <label>{{'email' | translate}}</label>
                    <div class="user-email-text">{{user?.email}}</div>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div>
                  <div class="wrap-listing username">
                    <label>{{'balance' | translate}}</label>
                    <div class="user-name-text">{{user?.balance}}</div>
                  </div>
                  <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>
              </div>

              <div class="col-md-12 text-left">
                <a [routerLink]="['/cv',id]">{{'CV' | translate}}</a>
              </div>
            </div>

            <!-- /.inner-box -->

          </form>
          <!-- /.form-listing -->
        </div>

        <!-- /.col-md-12 -->
      </div>

      <div class="col-md-12 subs" id="chooseCategory">
        <div class="inner-box subscribed-list">
          <div class="subscribed">
            <div class="title">
              <h3>{{'mySubscription' | translate}}</h3>
            </div>
            <br />
            <div class="row">
              <app-category-selector [categories]="postCategories" [selectedSubCategory]="user?.postCategoriesIds"
                (changed)="editCat($event)"></app-category-selector>
            </div>
          </div>
        </div>
      </div>

      <div class="row">


        <div class="col-xs-12">
          <div class="inner-box profile-business-list">

            <div class="main-title">
              <h3>{{'myAds' | translate}}</h3>
              <button style="display: block; position: relative; right:0px; bottom:35px;" title="Add Ad"
                class=" col-xs-pull-1 button-navigation" (click)="navigateTo('/ad/create')">
                <i class="fa fa-plus"></i>
              </button>
            </div>



            <div fxLayout="row-reverse" style="overflow-x: scroll;">
              <ng-container *ngFor="let ad of ads;let i=index">
                <app-ads-card style="min-width: 400px; max-width: 400px; margin:0px 15px 15px;" [ad]="ad"
                  (onRemove)="removePost($event,i)" class="featured-box-flex guide-box">
                </app-ads-card>
              </ng-container>
            </div>

          </div>
        </div>

        <div class="col-xs-12">
          <div class="inner-box profile-business-list">
            <div class="main-title">
              <h3>{{'myBusiness' | translate}}</h3>
              <button style="display: block; position: relative; right:0px; bottom:35px;" title="Add Business"
                class=" col-xs-pull-1 button-navigation" (click)="navigateTo('/business/create')">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <div fxLayout="row-reverse" style="overflow-x: scroll;">
              <ng-container *ngFor="let business of businesses;let i=index">
                <app-business-card style="min-width: 400px; max-width: 400px; margin: 0px 15px 15px;"
                  [business]="business" (onRemove)="removeBusiness(business,i)" class="featured-box-flex guide-box">
                </app-business-card>
              </ng-container>
            </div>


          </div>
        </div>

        <div class="col-xs-12">
          <div class="inner-box profile-jobs-list">
            <div class="main-title text-center">
              <h3>{{'myJobs' | translate}}</h3>
              <button style="display: block; position: relative; right:0px; bottom:35px;" title="Add Job"
                class=" col-xs-pull-1 button-navigation" (click)="navigateTo('/addJobOpportunity')">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <div fxLayout="row-reverse" style="overflow-x: scroll;">
              <ng-container *ngFor="let job of jobs">
                <app-job-card style="min-width: 400px; max-width: 400px; margin: 15px;" [post]="job"
                  class="featured-box-flex guide-box"></app-job-card>
              </ng-container>
            </div>


          </div>
        </div>


        <div class="col-xs-12">
          <div class="inner-box profile-jobs-list">
            <div class="main-title text-center">
              <h3>{{'myProducts' | translate}}</h3>
              <button style="display: block; position: relative; right:0px; bottom:35px;" title="Add Product"
                class=" col-xs-pull-1 button-navigation" (click)="navigateTo('/products/create')">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <div fxLayout="row-reverse" style="overflow-x: scroll;">
              <ng-container *ngFor="let product of products">
                <app-product-card style="min-width: 400px; max-width: 400px; margin: 15px;" [details]="product"
                  class="featured-box-flex guide-box"></app-product-card>
              </ng-container>
            </div>

          </div>
        </div>


      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.flat-listing -->
</section>

<ngx-smart-modal #myModal identifier="myModal">
  <div class="smart-modal-header">
    <h3>{{'mySubscription' | translate}}</h3>
  </div>

  <div class="smart-modal-content">
    <app-category-selector [categories]="postCategories" [selectedSubCategory]="user?.postCategoriesIds"
      (changed)="editCat($event)"></app-category-selector>
  </div>
  <div class="smart-modal-footer">
    <button class="btn btn-primary" (click)="myModal.close()">{{'close'|translate}}</button>
  </div>

</ngx-smart-modal>
