<div class="module">
  <div class="headers">
    <h4 class="mainLabel">
      {{'resetPassword' | translate}}
    </h4>
    <i class="fa fa-times close" (click)="close()" aria-hidden="true"></i>
  </div>
  <div class="contint">

    <span class="errorMessage" *ngIf="errorMessage!=''">{{errorMessage|translate}}</span>

    <div class="inputDiv">
      <h4 class="title">{{'verificationCode'|translate}}</h4>
      <input type="text" name="verificationCode" class="input"
        placeholder="{{'enter'|translate}} {{'verificationCode' | translate}}" [(ngModel)]="user.verificationCode">
    </div>

    <div class="inputDiv">
      <h4 class="title">{{'newPassword'|translate}}</h4>
      <input type="password" name="password" class="input" placeholder="{{'enter'|translate}} {{'newPassword' | translate}}"
        [(ngModel)]="user.password">
    </div>

    <div class="inputDiv">
      <h4 class="title">{{'confirmNewPassword'|translate}}</h4>
      <input type="password" name="repassword" class="input"
        placeholder="{{'enter'|translate}} {{'confirmNewPassword' | translate}}" [(ngModel)]="user.repassword">
    </div>

  </div>

  <div class="footer">
    <div type="submit" class="button save" (click)="send()" style="margin-bottom: 10px;">
      {{'changePassword' | translate}}
    </div>
    <div style="clear:both"></div>
  </div>

</div>
