<section class="page-title style1 parallax parallax1" style="min-height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          {{'homeTitle' | translate}}
        </div>
        <div class="text-heading">
          {{'homeSubTitle' | translate}}
        </div>
        <!-- /.wrap-box-search -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay1"></div>
</section>


