<div class="notification-button">
  <i class="fa fa-bell" (click)="open()"></i>
  <div class="notification-counter" *ngIf="unseenCounter>0 &&!showNotification">{{unseenCounter}}</div>
  <div [hidden]="!showNotification" class="notification-list">
    <div style="text-align: center;background: #f0f0f0;font-size:30px;padding-top:10px;padding-bottom: 10px" (click)="deleteAll()"><i class="fa fa-trash"></i></div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let not of notifications" [ngClass]="{'unClicked':!not.clicked}">
        <div style="display: flex">
          <div style="width: 90%;text-overflow: ellipsis" (click)="clickHandle(not)">{{not.message}}</div>
          <div class="fa fa-trash"  (click)="deleteNotification(not)" style="width: 10%;text-align: center;vertical-align: middle"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
