.notification-button{
  display: block;
  width: 25px;
  height: 25px;
  font-size:25px;
  position: relative;
}
.fa-bell{
  position: absolute;
  top: 15px;
  right: 10px;
}
.clear-button{
  text-align: center;
  background: #f0f0f0;
  font-size:30px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  line-height: 50px;
}
.clear-button div{
  padding: 0px 5px;
}
.notification-list{
  position: absolute;
  left:0px;
  top:60px;
  width: 300px;
  height: 400px;
  background: #fafafa;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.notification-counter{
  position: absolute;
  top:30px;
  left:4px;
  background-color:#ffd400;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
}
 li{
  background: #fafafa;
  border: none;
  border-bottom: 1px solid #ffd4004a;
  padding-top: 10px;
  padding-bottom: 10px;
   margin-bottom: 0px;
}
/*.notification-list::-webkit-scrollbar {*/
  /*width: 10px;*/
  /*background: yellow ;*/
/*}*/


.notification-list::-webkit-scrollbar {
  width: 10px;
}

.notification-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.notification-list::-webkit-scrollbar-thumb {
  background-color: #ffd400;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
.unClicked{
  background: #cccccc;
}

