<div class="module">
  <div class="headers">
    <h4 class="mainLabel">
      {{'completeInformation' | translate}}
    </h4>
    <i class="fa fa-times close" (click)="close()" aria-hidden="true"></i>
  </div>
  <div class="contint">

    <span class="errorMessage" *ngIf="errorMessage!=''">{{errorMessage|translate}}</span>


    <div class="inputDiv">
      <h4 class="title">{{'email'|translate}}</h4>
      <input type="email" name="email" class="input" placeholder="{{'enter'|translate}} {{'email' | translate}}"
        [(ngModel)]="user.email">
    </div>

    <div class="inputDiv">
      <h4 class="title">{{'phoneNumber'|translate}}</h4>
      <input type="tel" name="phoneNumber" class="input"
        placeholder="{{'enter'|translate}} {{'phoneNumber' | translate}}" [(ngModel)]="user.phoneNumber">
    </div>

  </div>

  <div class="footer">
    <div type="submit" class="button save" (click)="submit()">
      {{'submit' | translate}}
    </div>
    <div style="clear:both"></div>
  </div>

</div>
