  <app-navigation></app-navigation>
  <app-home-screen></app-home-screen>
   <!--Tested and fixed loader issue-->

  <!-- <app-profile-view></app-profile-view> --> 
  <!-- Tested and fixed margin cards issue -->

  <!-- <app-profile-edit></app-profile-edit>  --> 
  <!-- Tested, No bugs Found -->

  <!-- <app-ad-create></app-ad-create> --> 
  <!-- Tested, No bugs Found -->

   <!-- <app-ad-view></app-ad-view>  --> 
   <!--Tested, 1px diference in images margin-->

<!-- <app-business-create></app-business-create> -->
<!-- Tested , no bugs found -->

<!-- <app-business-view></app-business-view> -->
<!-- Tested , no bugs found -->

<!-- <app-guide></app-guide> -->
<!-- Tested , fixed margin in guide cards -->

  <router-outlet></router-outlet>
  <app-footer></app-footer>
<!--
  to do :
  * Navigation styling is not the same as template's?
  * Parallax effect is not working as it should, image position is lower than it should be?
  * Loader issue on mozilla?
  * check responsivity 
 -->