  <!-- <div class="col-md-5  col-xs-12 featured-box-flex"> -->
    <div class="col-md-6  col-xs-12 featured-box-flex-image">
      <div class="box-header">
        <div class="box-image">
          <img src="{{data.img}}" alt="">
          <a href="details.html" title="">{{'preview' | translate}}</a>
          <div class="overlay"></div>
        </div>
      </div>
      <!-- /.box-header -->
    </div>
    <div class="col-md-6  col-xs-12 featured-box-flex-text">
      <div class="box-content">
        <div class="box-title ad">
          <a href="details.html" title="">{{data.title}}</a>
        </div>
        <ul class="category">
          <li>{{data.category}}</li>
          <li>{{data.subCategory}}</li>
        </ul>
        <div class="box-desc">
          {{data.description}}
        </div>
        <div class="box-location">
          {{data.location}}
        </div>
      </div>
      <!-- /.box-content -->

    </div>
  <!-- </div> -->