  <!-- <div class="col-md-5  col-xs-12 featured-box-flex"> -->
    <div class="col-md-6  col-xs-12 featured-box-flex-image">
      <div class="box-header">
        <div class="box-image">
          <img src="assets/images/page/abo-alrod.jpg" alt="">
          <a href="details.html" title="">معاينة</a>
          <div class="overlay"></div>
        </div>
      </div>
      <!-- /.box-header -->
    </div>
    <div class="col-md-6  col-xs-12 featured-box-flex-text">
      <div class="box-content">
        <div class="box-title ad">
          <a href="details.html" title=""> سناك أبو الروض</a>
        </div>
        <ul class="category">
          <li>مطعم</li>
          <li>سناك</li>
        </ul>
        <div class="box-desc">
          سناك أبو الروض , مطعم يقدم وجبات غربية / شاورما - همبرجر ...
        </div>
        <div class="box-location">
          دمشق - الصالحية
        </div>
      </div>
      <!-- /.box-content -->

    </div>
  <!-- </div> -->