<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">

          <div class="box-title">
            <a routerLink="/ad/{{data.id}}" title="">{{data.title}}</a>
            <!--  -->
          </div>
          <span dir="ltr" class="creation-date">{{data.creationDate}}</span>

          <!-- /.box-title -->
          <!-- /.box-address -->
        </div>
        <!-- /.title-left -->
      </div>
      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="title-left">
          <div class="btn-more">
            <a *ngIf=" toggle1" (click)="toggle1= ! toggle1" href="" title="">{{'getInTouch' | translate}}</a>

            <a *ngIf="!toggle1" class="phone-arab-dir" href="tel:{{data.phone}}">{{data.phone}} <i class="fa fa-phone" style="margin-left:12px" aria-hidden="true"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /.title-right -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-title -->

<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-box">
          <h3>{{'details'| translate}}</h3>
          <div class="text-desc">
            {{data.description}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="imageGallery1">

            <!-- <a *ngFor="let i of data.images" href="{{i.url}}">
              <img src="{{i.url}}" alt="Gallery image" />
            </a> -->
          <div class="hoverMe" style="display: inline" *ngFor="let image of _albums; let i=index">
            <img [src]="image.data.src" [lightbox]="i" />
          </div>
            <!-- <a href="assets/images/page/tb2.jpg" title="Caption for gallery item 2">
              <img src="assets/images/page/tb2.jpg" alt="Gallery image 2" />
            </a>
            <a href="assets/images/page/tb3.jpg" title="Caption for gallery item 3">
              <img src="assets/images/page/tb3.jpg" alt="Gallery image 3" />
            </a>
            <a href="assets/images/page/tb4.jpg" title="Caption for gallery item 1">
              <img src="assets/images/page/tb4.jpg" alt="Gallery image 1" />
            </a>
            <a href="assets/images/page/tb5.jpg" title="Caption for gallery item 2">
              <img src="assets/images/page/tb5.jpg" alt="Gallery image 2" />
            </a>
            <a href="assets/images/page/tb6.jpg" title="Caption for gallery item 3">
              <img src="assets/images/page/tb6.jpg" alt="Gallery image 3" />
            </a> -->
          </div>
        </div>


      </div>
      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="sidebar">
          <!-- <ul class="box-categories">

                    </ul> -->
          <div class="box contact-box">
            <ul class="contact-list">
              <li class="address">
                <i class="fa fa-map-marker" aria-hidden="true"></i>{{data.subArea}} , {{data.area}}</li>
              <!--<li>
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <a href="#" title="">http://www.tableya.com.sy</a>
                </li> -->
              <li class="category">
                <i class="fa fa-flag" aria-hidden="true"></i>{{data.category}}</li>
              <li class="subcategory">
                <i class="fa fa-filter" aria-hidden="true"></i>{{data.subCategory}}</li>
              <li>
                <span class="btn-more">
                  <a class="button-in-contact-list" *ngIf="toggle2" (click)="toggle2 = !toggle2" title="">{{'getInTouch' |
                    translate}}</a>
                  <a *ngIf="!toggle2" class="phone-arab-dir button-in-contact-list" href="tel:{{data.phone}}">{{data.phone}} <i
                      class="fa fa-phone" aria-hidden="true"></i></a>
                </span>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-explore-detail <-->
