<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">

          <div class="box-title">
            <a href="#" title="">مطعم طبلية</a>
          </div>
          <!-- /.box-title -->
          <ul class="box-categories">
            <li class="category">
              <i class="fa fa-flag" aria-hidden="true"></i>مطعم</li>
            <li class="subcategory">
              <i class="fa fa-filter" aria-hidden="true"></i>مشاوي </li>
          </ul>
          <!-- /.box-address -->
        </div>
        <!-- /.title-left -->
      </div>
      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="title-left">
          <div class="btn-more">
            <a href="#" title="">تواصل معنا</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /.title-right -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-title -->

<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-box">
          <h3>تفاصيل</h3>
          <div class="text-desc">
            مهما كنت جوعان تعا على طبلية وعالأكيد رح تطلع مفلل وشبعان 🤓 اطيب لقمة شرقية عالفحم مشوية بس عند طبلية وجبة XXL😍 الفرع الوحيد:
            تنظيم كفرسوسة - دامسكينو مول الطابق الرابع
          </div>
        </div>
        <div class="col-md-12">
          <div class="imageGallery1">
            <a href="assets/images/page/tb1.jpg" title="Caption for gallery item 1">
              <img src="assets/images/page/tb1.jpg" alt="Gallery image 1" />
            </a>
            <a href="assets/images/page/tb2.jpg" title="Caption for gallery item 2">
              <img src="assets/images/page/tb2.jpg" alt="Gallery image 2" />
            </a>
            <a href="assets/images/page/tb3.jpg" title="Caption for gallery item 3">
              <img src="assets/images/page/tb3.jpg" alt="Gallery image 3" />
            </a>
            <a href="assets/images/page/tb4.jpg" title="Caption for gallery item 1">
              <img src="assets/images/page/tb4.jpg" alt="Gallery image 1" />
            </a>
            <a href="assets/images/page/tb5.jpg" title="Caption for gallery item 2">
              <img src="assets/images/page/tb5.jpg" alt="Gallery image 2" />
            </a>
            <a href="assets/images/page/tb6.jpg" title="Caption for gallery item 3">
              <img src="assets/images/page/tb6.jpg" alt="Gallery image 3" />
            </a>
          </div>
        </div>


      </div>
      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="sidebar">

          <div class="box contact-box">
            <ul class="contact-list">
              <li class="address">
                <i class="fa fa-map-marker" aria-hidden="true"></i>البرامكة , دمشق</li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a class="phone-arab-dir" href="#">0993 300 302</a>
              </li>
              <li>
                <i class="fa fa-globe" aria-hidden="true"></i>
                <a href="#" title="">http://www.tableya.com.sy</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-explore-detail <-->