.tag{
  display: inline-block;
  background-color: whitesmoke;
  color:#ffd400;
  margin: 4px;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
}

.tag.selected{
  background-color: #ffd400;
  color:whitesmoke;
}
.tag-container{

}
