<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">

          <div class="box-title">
            <a  title="" *ngIf="lang=='ar'">{{business?.nameAr}}</a>
            <a  title="" *ngIf="lang!='ar'">{{business?.nameEn}}</a>
          </div>
          <!-- /.box-title -->
          <ul class="box-categories">
            <li class="category">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <a  title="" *ngIf="lang=='ar'">{{business?.category?.titleAr}}</a>
              <a  title="" *ngIf="lang!='ar'">{{business?.category?.titleEn}}</a>
            </li>
            <li class="subcategory">
              <i class="fa fa-filter" aria-hidden="true"></i>
              <a  title="" *ngIf="lang=='ar'">{{business?.subCategory?.titleAr}}</a>
              <a  title="" *ngIf="lang!='ar'">{{business?.subCategory?.titleEn}}</a>
            </li>
          </ul>
          <!-- /.box-address -->
        </div>
        <!-- /.title-left -->
      </div>
      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="title-left">
          <div class="btn-more">
            <a href="#" title="">تواصل معنا</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /.title-right -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-title -->

<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-box">
          <h3>حول هذه القائمة</h3>
          <div class="text-desc">
           {{business?.description}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="imageGallery1">
            <a href="{{image?.url}}"  *ngFor="let image of business?.media" target="_blank">
              <img src="{{image?.url}}" alt="Gallery image 1" />
            </a>
          </div>
        </div>


      </div>
      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="sidebar">

          <div class="box contact-box">
            <ul class="contact-list">
              <li class="address" *ngIf="business?.city || business?.location">
                <i class="fa fa-map-marker" aria-hidden="true" ></i>
                <span *ngIf="lang=='ar'">{{business?.city?.nameAr}} , {{business?.location?.nameAr}}</span>
                <span *ngIf="lang!='ar'">{{business?.city?.nameEn}} ,{{business?.location?.nameEn}}</span>
              </li>
              <li *ngIf="business?.phone1">
                <i class="fa fa-phone" aria-hidden="true" ></i>
                <a >{{business?.phone1}}</a>
              </li>
              <li *ngIf="business?.phone2">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a >{{business?.phone2}}</a>
              </li>
              <!--<li>-->
                <!--<i class="fa fa-globe" aria-hidden="true"></i>-->
                <!--<a href="#" title="">http://www.anrestaurant.com</a>-->
              <!--</li>-->
            </ul>
          </div>
          <div class="involve" *ngIf="business?.products?.length>0">
            <h4>{{'ServicesAndProducts' | translate}}</h4>
            <ul>
              <li class="box" *ngFor="let product of business?.products">
                <app-involve-box [product]="product"></app-involve-box>
              </li>
            </ul>
          </div>
          <div class="box pdmap style1" id="flat-map-4" *ngIf="business?.locationPoint">
            <app-location-picker [disabled]="true" [(ngModel)]="business.locationPoint" [options]="{center:[business?.locationPoint?.lat,business?.locationPoint?.lng]}" name="locationPoint"></app-location-picker>
          </div>
          <!-- /#flat-map -->
          <!--<div class="box open">-->
            <!--<p>-->
              <!--<i class="fa fa-clock-o" aria-hidden="true"></i>ساعات العمل:</p>-->
            <!--<div class="box-desc">-->
              <!--<p>الاثنين - الخميس</p>-->
              <!--<p>9:00 صباحاً - 12:00 مساءً-->
                <!--<span>مغلق الأن !</span>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-explore-detail <-->
