<div class="container-fluid">

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 card">
      <div *ngIf="lang == 'ar' " class="paragraph">
        <!-- 	privacy policy	 -->
        <h1>شروط التسجيل</h1> <br/>
        <div class="para">
          <h3>موقع المرسال</h3> <br/>
          <ul class="bullet-list">
            <li>يقوم موقع المرسال بتقديم خدمات إعلانية مسبقة الدفع.</li>
            <br>
            <li>يقدم موقع المرسال العديد من الخدمات التي تتفاوت أسعارها بحسب نوع الخدمة ومدة عرضها.</li>
            <br>
            <li>يستطيع المستخدم معرفة أسعار الخدمات عن طريق التواصل مع فريق موقع المرسال.</li>
            <br>
            <li>المعلومات والبيانات التي يقوم المستخدم بإدخالها إلى الموقع يتم عرضها على العامة للأغراض الإعلانية.</li>
            <br>
            <li>يعتبر موقع المرسال ملكا خاصا لمجموعة المرسال ويقوم المستخدمين باستئجار مساحات إعلانية بشكل مؤقت.</li>
            <br>
            <li>يمنع عرض أي إعلانات تخل بالآداب العامة او تحرض على العنف والكراهية.</li>
            <br>
            <li>يستطيع المتخدمون إنشاء صفحات شخصية على موقع المرسال من أجل عرض بيانات شركاتهم ومنتجاتهم.</li>
            <br>
            <li>يستطيع المستخدمون إضافة إعلاتات في الجريدة الإلكترونية الموجودة في الموقع.</li>
            <br>
            <li>في حال قيام أحد المستخدمين بعرض بيانات خاطئة أو القيام بتصرف ضد سياساة الموقع فإن شركة المرسال تملك
              الحق بإلغاء اشتراك المستخدم دون إعادة رسم الإشتراك للمستخدم.</li>
            <br>
            <li>يستطيع المستخدم المطالبة بحذف الدعاية والاعلان الخاصة به أو بعمله الخاص أو حذف صفحته الشخصية أو
              بيناته للتواصل الشخصية، ولايحق له المطالبة بإعادة رسم الاشتراك بعد النشر على الموقع.</li>
            <br>
            <li>يستطيع المستخدم القيام بتعديل مجاني على الدعاية خلال ثلاثة أيام من تاريخ النشر.</li>
            <br>
            <li>يستطيع المستخدم القيام بتعديلات مجانية على صفحته الشخصية وبيانات التواصل معه خلال فترة إشتراكه.</li>
            <br>
          </ul>
        </div>
      </div>
      <div *ngIf="lang == 'en' " class="paragraph en text-left">
        <!-- 	privacy policy	 -->
        <h1>Registration Terms</h1> <br/>
        <div class="para">
          <h3>Almersal website</h3> <br/>
          <ul class="bullet-list">
            <li>Almersal website provides payable advertising services for users.</li>
            <br>
            <li>Almersal offers many services whose prices vary according to the type and length of service.</li>
            <br>
            <li>The user can know the prices of services by communicating with almersal team.</li>
            <br>
            <li>The information and data that the user enters into the site are displayed to the public for advertising
              purposes.</li>
            <br>
            <li>Almersal is a private property owned by almersal company and users are temporarily renting advertising
              spaces.</li>
            <br>
            <li>It is prohibited to display advertisements which are not morally accepted or motivate hate or violence.
            </li>
            <br>
            <li> Users can create personal pages on almersal website in order to view their companies' data and
              products.</li>
            <br>
            <li>Users can add advertisements in the online journal.</li>
            <br>
            <li>If a user misrepresents or violates the policy of almersal website, then, almersal has the right to
              cancel the user's subscription without refunding the user.</li>
            <br>
            <li>The user can request to delete his or her own advertisement, own work, or delete his or her personal
              page or personal communication data, but he can’t request a refund of the subscription fee after placing
              the advertisement or opening its personal page on almersal website.</li>
            <br>
            <li>Users can request a free modification to their advertisements within three days from the publishing
              date.</li>
            <br>
            <li>The user can make free modifications to his personal page and contact details during his subscription
              period.</li>
            <br>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>