

  <div class="featured-ads-box">
    <div class="featured-ads-box-image col-md-12">
      <img src="assets/images/page/hotb.jpg" alt="">
    </div>
    <div class="featured-ads-box-text col-md-12">
      <div class="title">
        <a href="details.html">هوت بيكري الدمشقي</a>
      </div>
      <div class="f-category">
        <ul class="category">
          <li>مطعم</li>
          <li>شاورما</li>
        </ul>
      </div>
      <div class="desc">
        لأول مرة ☝🏼 تشكن ڤاج - سوبريم غولد - تشيكن آلاكيف- رانش اي وجبة بس ب2000ليرة ومع كل وجبتين وجبة تالتة مجاناً😍
      </div>
    </div>
    <div class="featured-ads-box-location col-md-12">
      دمشق الصالحية
    </div>
  </div>

