

  <div class="featured-ads-box" routerLink="/ad/{{data.id}}" style="cursor: pointer">
    <div class="featured-ads-box-image ">
      <img src="{{data?.img}}" alt="">
    </div>
    <div class="featured-ads-box-text ">
      <div class="title">
        <a >{{data.title}}</a>
      </div>
      <div class="f-category">
        <ul class="category">
          <li>{{data?.category}}</li>
          <li>{{data?.subCategory}}</li>
        </ul>
      </div>
      <div class="desc">
        {{data?.description}}
      </div>
    </div>
    <div class="featured-ads-box-location">
      {{data?.location}}
    </div>


  </div>

