<div class="col-md-6  col-xs-12 featured-box-flex-image">
  <div class="box-header">
    <div class="box-image">
      <img src="{{data?.img}}" alt="">
      <a [routerLink]="['/business',data.nameUnique]" title="">{{'preview' | translate}}</a>
      <div class="overlay1"></div>
    </div>
  </div>
  <!-- /.box-header -->
</div>
<div class="col-md-6 col-xs-12 featured-box-flex-text">
  <div class="box-content">
    <div class="box-title ad">
      <img *ngIf="data.vip === true" src="assets/images/icon/vip.png" style="float: left;">
      <a [routerLink]="['/business',data.nameUnique]" title="">{{data.name}}</a>
    </div>
    <ul class="category">
      <li>{{data.category}}</li>
      <li>{{data.subCategory}}</li>
    </ul>
    <div class="box-desc">
      {{data.description}}
    </div>
    <div class="box-location">
      {{data.textAddress}}
    </div>
  </div>
  <!-- /.box-content -->
</div>
