<section class="">
  <div class="" style="background-color: #f9f8f3">
    <div class="row" style="background-color: #fff;margin-bottom: 30px;">
      <div *ngIf="job" class="col-md-12 mainHeader">
        <!-- {{job | json}} -->
        <div class="col-md-3 col-xs-12" style="float: left;">
          <div class="img"
            [style.backgroundImage]="'url('+ (job.business.logo ? job.business.logo : '../../../assets/images/page/business-01.png')  +')'">
          </div>
        </div>
        <div class="col-md-9 col-xs-12" style="min-height: 150px;display: table;">
          <div style="vertical-align: middle;display: table-cell;">
            <h3 class="username">{{lang=='ar'? job.nameAr : job.nameEn}}
              <span class="edit" *ngIf="isMyJob==true" (click)="goToEdit()">{{'edit'|translate}}</span>
              <span class="edit deactive" *ngIf="isMyJob==true && job && job.status=='activated'"
                (click)="deactive()">{{'deactive'|translate}}</span>
            </h3>
            <h5 *ngIf="job.business" class="identefire">
              {{lang=='ar'? job.business.nameAr : job.business.nameEn}}
            </h5>

            <p *ngIf="job" class="bio">{{lang=='ar'? job.business.descriptionAr : job.business.descriptionEn}}</p>
            <h5 *ngIf="job.business" class="city">
              {{lang=='ar'? job.business.city.nameAr : job.business.city.nameEn}}
              <!-- ,
                    {{lang=='ar'? job.business.location.nameAr : job.business.location.nameEn}} -->

            </h5>
          </div>
          <div class="tabs" *ngIf="isMyJob==true">
            <h3 class="oneTab" [ngClass]="{'active': currentTab=='home'}" (click)="changeTab('home')">
              {{'information'|translate}}</h3>
            <h3 class="oneTab" (click)="changeTab('users')" [ngClass]="{'active': currentTab=='users'}">
              {{'employee'|translate}}
              <div class="count">
                {{job.NumberOfApplicants}}
              </div>
            </h3>
          </div>

        </div>
      </div>
    </div>
    <div class="row allInfo" id="homeTab" style="direction: ltr;padding-bottom: 30px;">
      <div style="float: left;" class="col-md-1 col-xs-0"></div>
      <div style="float: left;" *ngIf="job" class="col-md-7 col-xs-12 containtJob">
        <div class="mainContent">
          <div style="position:relative">
            <h4 class="mainLabel">
              {{'responsibilities' | translate}}
            </h4>
            <p class="description">{{lang=='ar'? job.responsibilitiesAr : job.responsibilitiesEn}}</p>
          </div>

          <div style="position:relative">
            <h4 class="mainLabel">
              {{'qualifications' | translate}}
            </h4>
            <p class="description">{{lang=='ar'? job.qualificationsAr : job.qualificationsEn}}</p>
          </div>
          <div style="position:relative">
            <h4 class="mainLabel">
              {{'descriptionCV' | translate}}
            </h4>
            <p class="description">{{lang=='ar'? job.descriptionAr : job.descriptionEn}}</p>
          </div>
          <div style="position:relative">
            <h4 class="mainLabel">
              {{'skills' | translate}}
            </h4>
            <div class="listOfTags">
              <div class="tag" *ngFor="let oneItem of job.tags;let i=index">
                <span>
                  {{oneItem.name}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="float: left;" *ngIf="job" class="col-md-3 col-xs-12 infoJob">
        <div class="mainContent">
          <h4 class="mainLabel">
            {{'jobInfo' | translate}}
          </h4>
          <div class="row">
            <div class="col-xs-12">
              <div style="margin-top: 25px" class="informationRow">
                <i class="fa fa-flag" aria-hidden="true"></i>
                <ul class="category">
                  <li>{{lang=='ar'? job.category.titleAr:job.category.titleEn}}</li>
                  <li>{{lang=='ar'? job.subCategory.titleAr:job.subCategory.titleEn}}</li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12" *ngIf="job.rangeSalary">
              <div class="informationRow">
                <i class="fa fa-usd" aria-hidden="true"></i>
                <ul class="category">
                  <li>{{job.rangeSalary}}</li>
                </ul>
              </div>
            </div>


            <div class="col-xs-12" *ngIf="job.minimumEducationLevel">
              <div class="informationRow">
                <i class="fa fa-university" aria-hidden="true"></i>
                <ul class="category">
                  <li>{{job.minimumEducationLevel | translate}}</li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12" *ngIf="job.jobType">
              <div class="informationRow">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <ul class="category">
                  <li>{{job.jobType | translate}}</li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="informationRow">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <ul class="category">
                  <li>{{lang=='ar'? job.business.city.nameAr : job.business.city.nameEn}}</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12" *ngIf="isMyJob==false">
              <div class="informationRow" style="padding-left: 0px;padding-top: 17px;">

                <div class="btn-more" *ngIf="canApply==true && job.userIsApplied==false"
                  style="margin-top:0px;text-align: center;">
                  <a title="" (click)="apply()">{{'applyJob' | translate}}</a>
                </div>


                <div class="btn-more" *ngIf="canApply==true && job.userIsApplied==true"
                  style="margin-top:0px;text-align: center;">
                  <a title="">{{'userIsApplied' | translate}}</a>
                </div>

                <div class="btn-more" *ngIf="canApply==false" style="margin-top:0px;text-align: center;">
                  <a title="" (click)="goToLogin()">{{'loginToApply' | translate}}</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="float: left;" class="col-md-1 col-xs-0"></div>
    </div>

    <div class="row" id="usersTab" style="direction: ltr;padding-bottom: 30px;">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-12 placeholder" *ngIf="employee==null || employee.length==0">
            <img src="../../../assets/images/page/employee.png">
            <h4>{{'noApplicants'|translate}}</h4>
          </div>
          <div class="col-md-6 col-xs-12 userCard" *ngFor="let oneEmployee of employee;let i = index">
            <div class="box">
              <div class="imgDiv">
                <div class="img" [style.backgroundImage]="'url('+ oneEmployee.user?.imageProfile +')'"></div>
              </div>
              <div class="infoDiv">
                <div class="contain">
                  <h4 class="name" (click)="goToCv(oneEmployee.userId)"> {{oneEmployee.user?.username}}</h4>
                  <h5 class="identefire"> {{oneEmployee.user?.CV?.primaryIdentifier	}}</h5>
                  <h5 class="city"> {{oneEmployee.user?.CV?.city?.nameAr	}}</h5>
                </div>
              </div>
              <div class="stautsDiv">
                <div class="contain">
                  <div class="oneInfo">
                    <!-- <span>Applied : </span> -->
                    <span>{{oneEmployee.createdAt | date:'MMM dd,yy' }} </span>
                  </div>
                  <div class="oneInfo">
                    <select (change)="changeStauts(i)" class="select" [(ngModel)]="employee[i].status">
                      <option *ngFor="let oneItem of statusArray;let i= index" value="{{oneItem.value}}">
                        {{oneItem.view|translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1">

      </div>
    </div>
  </div>
</section>
