<div class="cart-button">
  <i class="fa fa-shopping-cart" (click)="open()"></i>
  <div [hidden]="!showCart" class="notification-list">
    <ng-container *ngFor="let order of orders">
      <div style="display: flex; align-items: center; flex-wrap: wrap; justify-content: flex-end;">
        <div style="width: 50px; height: 50px; margin: 10px;">
          <ngx-avatar [name]="order?.owner?.username" [src]="order?.owner?.imageProfile">
          </ngx-avatar>
        </div>
        <div style="margin-left: 20px; flex-grow: 1;">
          <p style="font-weight: bold; font-size: medium;">
            {{ order?.owner?.username }}
          </p>
          <p style="font-size: small; color: #aaa">
            {{ order?.business?.nameUnique }}
          </p>
          <p style="font-size: small; color: #aaa">
            {{ order?.product?.title }}
          </p>
        </div>
        <div style="flex-grow: 1;">
          <p style="font-size: small; color: #aaa">
            {{ order?.creationDate | date }}
          </p>
          <div style="display: flex;">
            <div style="
          max-width: 80px;
          background-color: blueviolet;
          padding: 0px 10px;
          border-radius: 5px;
          color: white;">
              <span style="font-size: small; font-weight: bold;">{{order?.price}}</span>
              <span style="font-size: xx-small;"> ل.س </span>
            </div>
            <div style="
          max-width: 80px;
          background-color: rgba(255, 212, 0, 0.9);
          padding: 0px 10px;
          border-radius: 5px;
          color: white;
          margin-right: 5px;">
              <span style="font-size: small; font-weight: bold;">{{order?.count}}</span>
            </div>
          </div>
        </div>
        <!-- <div style="flex-grow: 0.15" *ngIf="order.note !== null">
          {{order?.note}}
        </div> -->
      </div>
    </ng-container>
  </div>
</div>
