<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a routerLink="./" title="">
              <img src="{{logoAddress}}" />
            </a>
          </div>
          <div style="display: inline-flex;margin-top: 30px;margin-right: 10px; cursor: pointer; width: 50px;"
            *ngIf="isLogin && user">
            <ngx-avatar [name]="user['username']" [src]="user['imageProfile']" (clickOnAvatar)="goToProfile()">
            </ngx-avatar>
            <app-notification style="z-index: 1000;"></app-notification>
            <!-- <app-cart style="z-index: 1000; margin-right: 10px;"></app-cart> -->
          </div>
          <div class="auth-menu" style="display: inline-flex;margin-top: 30px;margin-right: 10px" *ngIf="!isLogin">
            <a class="nav-button" (click)="onLogin()">{{'login' | translate}}</a>
            <a class="nav-button" (click)="onSignup()">{{'createAccount' | translate}}</a>
          </div>
          <!-- /.logo -->
          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a routerLink="/" title="">{{'homePage' | translate}}</a>
                </li>
                <li>
                  <a routerLink="/guide" title="">{{'businessGuidePage' | translate }}</a>
                </li>
                <li>
                  <a routerLink="/job" title="">{{'businessJobPage' | translate }}</a>
                </li>
                <li>
                  <a routerLink="/suppliers" title="">{{'supplierPage' | translate}}</a>
                </li>
                <li>
                  <a routerLink="/products" title="">{{'productsPage' | translate}}</a>
                </li>
                <li *ngIf="isLogin">
                  <a routerLink="/business/create" title="">{{'addBusinessPage' | translate}}</a>
                </li>
                <li *ngIf="isLogin">
                  <a routerLink="/products/create"> {{'productCreate' | translate}} </a>
                </li>
                <li *ngIf="isLogin">
                  <a class="nav-button pulse" routerLink="/ad/create" title="">{{'createAdPage' | translate }}</a>
                </li>
              </ul>
            </nav>
            <div class="lang-button">
              <div id="lang-change">
                <ul class="menu">
                  <li class="barear">
                    <a>&nbsp;</a>
                  </li>
                  <li *ngIf="isLogin" class="logout-anchour">
                    <a href="javascript:void(0)" title="" (click)="auth.logout()">{{'logout' | translate}}</a>
                  </li>
                  <li>
                    <a *ngIf="english" href="javascript:void(0)" (click)="changeLang('ar')" title="">عربي</a>
                    <a *ngIf="!english" href="javascript:void(0)" (click)="changeLang('en')" title="">English</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.show-search -->
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
          </div>
          <!-- /.nav-wrap -->
        </div>
        <!-- /.header-wrap -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
