<section>
  <div class="container-fluid">
    <div class="row">
      <div class="filter-wrap">
        <h2>فلتر البحث</h2>
        <div class="wrap-filter-search">
          <form action="#" method="get" accept-charset="utf-8">
            <span class="keyword">
              <input type="text" placeholder="كلمة مفتاحية" name="search">
            </span>

            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories">
                <option value="">الفئة الرئيسية</option>
                <option value="">مطاعم</option>
                <option value="">فنادق</option>
              </select>
            </span>
            <span class="subCategories">
              <span class="ti-angle-down"></span>
              <select name="subCategories">
                <option value="">الفئة الفرعية</option>
                <option value="">كل الفئات</option>
                <option value="">كل الفئات</option>
              </select>
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories">
                <option value="">اختر المدينة</option>
                <option value="">حماة</option>
                <option value="">دمشق</option>
                <option value="">حمص</option>
              </select>
            </span>
            <span class="location">
              <span class="ti-location-pin"></span>
              <input type="text" placeholder="الموقع" name="location">
            </span>
            <button type="submit" class="search-btn">تطبيق</button>

          </form>
          <!-- /form -->
        </div>
        <div class="col-md-12 version-arrow">

          <div class="left-arrow">
            <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>

          </div>
          <div class="title">
            <h2> 1.0.0</h2>
          </div>
          <div class="right-arrow">
            <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i>
          </div>

        </div>
        <div class="clearfix"></div>
        <!-- /.wrap-box-search -->
        <div class="container p-t-60">

          <div class="row featured-box-flex-container">


            <app-card-h class="col-md-5  col-xs-12 featured-box-flex" ></app-card-h>
            <app-card-h class="col-md-5  col-xs-12 featured-box-flex" ></app-card-h>
            <app-card-h class="col-md-5  col-xs-12 featured-box-flex" ></app-card-h>
            <app-card-h class="col-md-5  col-xs-12 featured-box-flex" ></app-card-h>
            <app-card-h class="col-md-5  col-xs-12 featured-box-flex" ></app-card-h>
            <app-card-h class="col-md-5  col-xs-12 featured-box-flex" ></app-card-h>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.highlights -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.flat-highlights -->