<section id="volume">
  <div class="container-fluid">
    <div class="row">
      <div class="filter-wrap">
        <h2>{{'searchFilter' | translate}}</h2>
        <div class="wrap-filter-search">
          <form action="#" method="get" accept-charset="utf-8">
            <span class="keyword">
              <input [(ngModel)]="searchText" type="text" placeholder="{{'keyword'| translate}}" name="search">
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories" [(ngModel)]="category" (change)="subCategory='0'">
                <option value='0' hidden>{{'category' | translate }}</option>
                <option *ngFor="let c of categories" [ngValue]="c">{{c.title}}</option>
              </select>
            </span>
            <span class="subCategories">
              <span class="ti-angle-down"></span>
              <select [disabled]="category=='0'" name="subCategories" [(ngModel)]="subCategory">
                <option value="0" hidden>{{'subCategory' | translate}}</option>
                <option *ngFor="let sc of category?.subCategories" [ngValue]="sc">{{sc.title}}</option>
              </select>
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories" [(ngModel)]="city" (change)="location='0'">
                <option value="0" hidden>{{'chooseCity'| translate}}</option>
                <option *ngFor="let c of cities" [ngValue]="c">{{c.name}}</option>
              </select>
            </span>
            <span class="location">
              <!-- <span class="ti-location-pin"></span> -->
              <span class="ti-angle-down"></span>

              <!-- <input [(ngModel)]="location" type="text" placeholder="{{'location'| translate}}" name="location"> -->
              <select name="location" [(ngModel)]="location">
                <option value="0" hidden>{{'location'| translate}}</option>
                <option *ngFor="let l of city?.locations" [ngValue]="l">{{l.name}}</option>
              </select>
            </span>
            <button (click)="volumeFilter()" class="search-btn">{{'apply'| translate}}</button>

          </form>
          <!-- /form -->
        </div>
        <div class="col-md-12 version-arrow">

          <div class="left-arrow">
            <i title="Previous" (click)="prev()" class="fa fa-angle-right fa-4x pointerHover" aria-hidden="true"></i>
          </div>
          <div class="title">
            <h2>{{title}}</h2>
          </div>
          <div class="right-arrow">
            <i title="Next" (click)="next()" [ngClass]="{disabled:nextDisabled}" class="fa fa-angle-left fa-4x pointerHover" aria-hidden="true"></i>
          </div>

        </div>
        <div class="clearfix"></div>
        <!-- /.wrap-box-search -->
        <div class="container p-t-60">

          <div class="row featured-box-flex-container">


            <app-card-h *ngFor="let item of data.posts| volumeFilter:cds.filterItem " [details]="item" class="col-md-5  col-xs-12 featured-box-flex"></app-card-h>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.highlights -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.flat-highlights -->