<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a href="index.html" title="">
              Al-Mersal
            </a>
          </div>
          <!-- /.logo -->
          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a href="#" title="">الرئيسية</a>
                </li>
                <li>
                  <a href="guide.html" title="">دليل الأعمال</a>
                </li>
                <li>
                  <a href="create-ad.html" title="">إضافة نشاط تجاري</a>

                </li>
                <li>
                  <a href="create-b.html" title="">إضافة إعلان</a>
                  <ul class="submenu">
                    <li>
                      <a href="index.html" title="">Index Layout</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="login.html" title="">تسجيل الدخول</a>
                </li>
                <li>
                  <a href="login.html" title="">إنشاء حساب</a>
                </li>
              </ul>

            </nav>
            <!-- /.mainnav -->
            <div id="lang-change" class="button-header">
              <a href="" title=""> اللغة
                <i class="ti-angle-down"></i>
              </a>
              <div style="display=none;" class="lang-list">
                <li>
                  <a href="login.html" title="">عربي</a>
                </li>
                <li>
                  <a href="login.html" title="">English</a>
                </li>
              </div>
            </div>

            <div class="show-search">
              <button>
                <span class="ti-search"></span>
              </button>
              <div class="submenu top-search search-header">
                <form role="search" method="get" class="search-form" action="#">
                  <label>
                    <input type="search" class="search-field" placeholder="Search …" value="" name="search">
                  </label>
                  <button class="search-submit-form" title="Search now">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>

            </div>

            <!-- /.show-search -->
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
          </div>
          <!-- /.nav-wrap -->
        </div>
        <!-- /.header-wrap -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>