<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">

          <div id="logo" class="logo">
            <a routerLink="./" title="">
              <img src="{{logoAddress}}" />
            </a>
          </div>
          <div style="display: inline-block;margin-top: 30px;margin-right: 10px" *ngIf="isLogin && user">
            <ngx-avatar [name]="user['username']" (clickOnAvatar)="goToProfile()"></ngx-avatar>
          </div>
          <!-- /.logo -->
          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">

              <ul class="menu">
                <li>
                  <a routerLink="/" title="">{{'homePage' | translate}}</a>
                </li>
                <li>
                  <a routerLink="/guide" title="">{{'businessGuidePage' | translate }}</a>
                </li>
                <li *ngIf="isLogin">
                  <a routerLink="/business/create"  title="">{{'addBusinessPage' | translate}}</a>

                </li>
                <li *ngIf="isLogin">
                  <a routerLink="/ad/create" class="pulse" title="">{{'createAdPage' | translate }}</a>
                  <!--<ul class="submenu">-->
                    <!--<li>-->
                      <!--<a href="index.html" title="">Index Layout</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                </li>
                <li *ngIf="!isLogin">
                  <a routerLink="/auth/login" title="">{{'login' | translate}}</a>
                </li>
                <li *ngIf="!isLogin">
                  <a routerLink="/auth/signup" title="">{{'createAccount' | translate}}</a>
                </li>
                <li *ngIf="isLogin">
                  <a title="" (click)="auth.logout()">{{'logout' | translate}}</a>
                </li>

              </ul>

            </nav>
            <!-- /.mainnav -->
            <div id="lang-change" class="button-header">
              <a  title="{{'language' | translate}}"> {{'language' | translate}}
                <i [ngStyle]="english && {'margin-right':'0'}" class="ti-angle-down"></i>
              </a>
              <div style="display:none;" class="lang-list">
                <li>
                  <a (click)="changeLang('ar')" title="">عربي</a>
                </li>
                <li>
                  <a (click)="changeLang('en')" title="">English</a>
                </li>
              </div>
            </div>

            <!-- <div class="show-search">
              <button>
                <span class="ti-search"></span>
              </button>
              <div class="submenu top-search search-header">
                <form role="search" method="get" class="search-form" action="#">
                  <label>
                    <input type="search" class="search-field" placeholder="Search …" value="" name="search">
                  </label>
                  <button class="search-submit-form" title="Search now">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>

            </div> -->

            <!-- /.show-search -->
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
          </div>
          <!-- /.nav-wrap -->
        </div>
        <!-- /.header-wrap -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
