@import './css/bootstrap.min.css';          
@import './css/style.css';          
@import './css/responsive.css';                    
@import '../node_modules/leaflet/dist/leaflet.css';          
@import '../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css';          

.pointerHover:hover{
  cursor: pointer;
}
.title-left  .creation-date{
  padding-right: 46px;
}
.button-in-contact-list{
    padding: 3px 15px !important;
    position: relative;
    left: 15px;
}
.map {
  height: 100%;
  padding: 0;
}

.leaflet-control-attribution{
    display: none;
}
.hoverMe:hover{
  cursor: pointer;
}