<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          {{user['username']}}
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay"></div>
</section>
<!-- /.page-title -->

<div class="container-fluid without-padding cloudy-bg">
  <div class="col-md-12 without-padding">
    <div class="profile-image-container">
      <div class="change-image">{{'edit' | translate}} </div>
      <img class="profile-img" src="assets/images/page/nobody.jpeg" />
    </div>
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.container -->

<section class="cloudy-bg">
  <section class="flat-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form novalidate class="form-listing" #f="ngForm" (submit)="submit(f.value)">

            <div class="inner-box form">
              <div class="one-half">
                <div class="wrap-listing username">
                  <label>{{'username' | translate}}</label>
                  <input type="text" class="username" name="username" [(ngModel)]="user['username']" #username="ngModel"  required>
                </div>
                <app-form-validation-message [control]="username" [messages]="{required:'usernameIsRequired'}">
                </app-form-validation-message>
                <!-- /.wrap-listing -->
                <label>{{'birth' | translate}}</label>
                <input type="date"  name="birthDate" [(ngModel)]="user['birthDate']" #birth="ngModel" required>
                <app-form-validation-message [control]="birth" [messages]="{required:'birthIsRequired'}">
                </app-form-validation-message>
                <!-- /.wrap-listing -->
                <div class="clearfix"></div>

              </div>


              <div class="one-half">
                <div class="wrap-listing phone">
                  <label>{{'phoneNumber' | translate}}</label>
                  <input type="text" class="phoneNumber" name="phoneNumber" [(ngModel)]="user['phoneNumber']" #phoneNumber="ngModel" required>
                </div>
                <app-form-validation-message [control]="phoneNumber" [messages]="{required:'phoneNumberIsRequired'}">
                </app-form-validation-message>
                <div class="clearfix"></div>
                <!--<div class="wrap-listing phone">-->
                  <!--<label>{{'email' | translate}}</label>-->
                  <!--<input type="text" class="email" name="email" [(ngModel)]="user['email']" #email="ngModel" email required>-->
                <!--</div>-->
                <!--<app-form-validation-message [control]="email" [messages]="{required:'usernameIsRequired',email:'notAValidEmail'}">-->
                <!--</app-form-validation-message>-->
                <!--<div class="clearfix"></div>-->
                <div class="wrap-listing category">
                  <label>{{'gender' | translate}}</label>
                  <span class="ti-angle-down"></span>
                  <select name="gender" [(ngModel)]="user['gender']" #gender="ngModel" required>
                    <option value="male">{{'male' | translate}} </option>
                    <option value="female">{{'female' | translate}}</option>
                  </select>
                </div>
                <app-form-validation-message [control]="gender" [messages]="{required:'genderIsRequired'}">
                </app-form-validation-message>

              </div>
              <div class="clearfix"></div>

              <div class="clearfix"></div>




              <div class="clearfix"></div>
              <div class="col-md-12">
                <button  type="submit" [disabled]="form.invalid && form.submitted">
                  <div class="btn-more submit-button">
                    <a >{{'save' | translate}}</a>
                  </div>
                </button>

              </div>
              <div class="clearfix"></div>


            </div>
            <!-- /.inner-box -->

          </form>
          <!-- /.form-listing -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.flat-listing -->
</section>
