<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Username
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overlay"></div>
</section>
<!-- /.page-title -->

<div class="container-fluid without-padding cloudy-bg">
  <div class="col-md-12 without-padding">
    <div class="profile-image-container">
      <div class="change-image">تعديل </div>
      <img class="profile-img" src="http://via.placeholder.com/150x150" />
    </div>
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.container -->

<section class="cloudy-bg">
  <section class="flat-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="#" class="form-listing" method="get" accept-charset="utf-8">

            <div class="inner-box form">
              <div class="one-half">
                <div class="wrap-listing username">
                  <label>اسم المستخدم</label>
                  <input type="text" name="username" placeholder="أدخل اسم المستخدم الخاص بك">
                </div>
                <!-- /.wrap-listing -->
                <label>تاريخ الميلاد</label>
                <div class="wrap-listing business">
                  <div class="year">
                    <span class="ti-angle-down"></span>
                    <select name="year">
                      <option value="">1994</option>
                      <option value="">1995</option>
                      <option value="">1996</option>
                    </select>
                  </div>
                  <div class="month">
                    <span class="ti-angle-down"></span>
                    <select name="month">
                      <option value="">كانون الثاني</option>
                      <option value="">شباط</option>
                      <option value="">آذار</option>
                    </select>
                  </div>
                  <div class="day">
                    <span class="ti-angle-down"></span>
                    <select name="day">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                    </select>
                  </div>
                  <span class="clearfix"></span>
                </div>
                <!-- /.wrap-listing -->
                <div class="clearfix"></div>

              </div>


              <div class="one-half">
                <div class="wrap-listing phone">
                  <label>البريد الإلكتروني</label>
                  <input type="email" name="البريد الإلكتروني" placeholder="111-222-3333">
                </div>
                <div class="clearfix"></div>
                <div class="wrap-listing category">
                  <label>Gender</label>
                  <span class="ti-angle-down"></span>
                  <select name="category">
                    <option value="">Male</option>
                    <option value="">Female</option>
                  </select>
                </div>


              </div>
              <div class="clearfix"></div>

              <div class="clearfix"></div>




              <div class="clearfix"></div>
              <div class="col-md-12">
                <div class="btn-more submit-button">
                  <a href="#">حفظ التغييرات</a>
                </div>
              </div>
              <div class="clearfix"></div>


            </div>
            <!-- /.inner-box -->

          </form>
          <!-- /.form-listing -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.flat-listing -->
</section>