<style>
  .flat-row-title{
    color:#2c3e50;
  }
</style>
<section class="page-title style1 ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>{{'discoverActivitiesAroundYou'| translate}}</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="wrap-filter-search">
          <form action="#" method="get" accept-charset="utf-8">
            <span class="keyword">
              <input [(ngModel)]="title" type="text" placeholder="{{'searchForWhat' | translate}}" name="search">
              <!--(keyup)="titleFilter()"-->
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select [(ngModel)]="category" name="categories" (change)="setCategoryId(category)">
                <!-- (change)="reFilter()" -->
                <option [ngValue]="initialValue" >{{'chooseCategory' | translate }}</option>
                <option *ngFor="let c of bCategories" [ngValue]="c">{{c.title}}</option>
              </select>
            </span>
            <span *ngIf="category!=undefined" class="subCategories">
              <span class="ti-angle-down"></span>
              <select  name="subCategories" [(ngModel)]="subCategory">
                <option hidden value="" [selected]="isSelected">{{'subCategory' | translate}}</option>
                <option *ngFor="let sc of category?.subCategories" [ngValue]="sc.id">{{sc.title}}</option>
              </select>
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select  [(ngModel)]="city" name="cityID" (change)="setCityId(city)">
                <option [ngValue]="initialValue" >{{'chooseCity' | translate}}</option>
                <option *ngFor="let c of cities" [ngValue]="c">{{c.name}}</option>
              </select>
            </span>
            <span *ngIf="city!=undefined" class="location">
              <span class="ti-angle-down"></span>
              <select  name="location" [(ngModel)]="location">
                <option hidden value="" [selected]="isSelected">{{'location'| translate}}</option>
                <option *ngFor="let l of city?.locations" [ngValue]="l.id">{{l.name}}</option>
              </select>
            </span>
            <button (click)="reFilter()" class="search-btn">{{'apply'| translate}}</button>

          </form>
          <!-- /form -->
        </div>
        <div class="clearfix"></div>
        <div class="wrap-imagebox style2">

          <app-guide-card *ngFor="let p of menuPosts" [post]="p" class="col-xs-6 featured-box-flex guide-box "></app-guide-card>

        </div>
      </div>
      <div class="col-md-12">
        <div class="b-guide-nav">
          <button title="Next" (click)="prev()" [ngClass]="{disabled:prevDisabled}" class=" col-xs-pull-1 button-navigation">
            <i class="fa fa-chevron-right"></i>
          </button>
          <button title="Previous" [ngClass]="{disabled:nextDisabled}" (click)="next()" class="col-xs-push-1 button-navigation">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>