<div class="slider">
  <section class="flat-map-zoom-in">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-xs-12 sidebar overflow-scroll">
          <div class="flat-filter style2">
            <div class="wrap-box-search style2 v2">
              <form action="#" method="get" accept-charset="utf-8">
                <span>
                  <input type="text" placeholder="What are you looking for ?" name="search">
                </span>
                <span class="location">
                  <span class="ti-location-pin"></span>
                  <input type="text" placeholder="Location" name="location">
                </span>
                <span class="categories">
                  <span class="ti-angle-down"></span>
                  <select name="categories">
                    <option value="">All Categories</option>
                    <option value="">All Categories</option>
                    <option value="">All Categories</option>
                  </select>
                </span>
                <div class="clearfix"></div>

              </form>
              <!-- /form -->
            </div>
            <!-- /.wrap-box-search style2 -->
            <div class="clearfix"></div>
            <div class="wrap-imagebox style2">
              <app-guide-card class="col-md-5 col-xs-12 featured-box-flex guide-box "></app-guide-card>
              <app-guide-card class="col-md-5 col-xs-12 featured-box-flex guide-box "></app-guide-card>
              <app-guide-card class="col-md-5 col-xs-12 featured-box-flex guide-box "></app-guide-card>
              <app-guide-card class="col-md-5 col-xs-12 featured-box-flex guide-box "></app-guide-card>
              <app-guide-card class="col-md-5 col-xs-12 featured-box-flex guide-box "></app-guide-card>
              <app-guide-card class="col-md-5 col-xs-12 featured-box-flex guide-box "></app-guide-card>


            </div>
            <!-- /.wrap-imagebox style2 -->
          </div>
          <!-- /.flat-filter -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-7 col-md-7 col-xs-12">
          <section class="pdmap" id="flat-map">
            <div class="flat-maps" data-name="Themesflat Map"></div>
            <div class="gm-map">
              <div class="map-4"></div>
            </div>
          </section>
          <!-- /#flat-map -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.flat-map-zoom-in -->
</div>