<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget widget-about">
          <div class="logo-ft">
            <a href="{{localAddress}}" title="">
              <img src="{{logoAddress}}" />
            </a>
          </div>
          <p>
            دليلك الالكتروني الاكثر شمولا للخدمات و الاعلانات المبوبة من حولك
          </p>
        </div>
        <!-- /.widget-about -->
      </div>
      <div class="col-md-4">
        <div class="widget widget-contact">
          <h3 class="widget-title">{{'contactInfo' | translate}}</h3>
          <ul class="contact-infomation">
            <li class="phone">
              9753
            </li>
            <li class="email">
              almersalgroupe@gmail.com
            </li>
          </ul>
        </div>
        <!-- /.widget-contact -->
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-4">
        <div class="widget widget-categories">
          <h4 class="widget-title">

            <a *ngIf="lang=='ar'" style="color:white" target="_blank" href="https://almersal.co/privacy/policy_ar.html">{{'privacyAndTerms' |translate}}</a>
            <a *ngIf="lang=='en'" style="color:white" target="_blank" href="https://almersal.co/privacy/policy_en.html">{{'privacyAndTerms' |translate}}</a>
          </h4>

        </div>
      </div>
      <!-- /.widget-categories -->
      <!-- /.col-md-3 -->


      <!-- /.col-md-3 -->
      <!-- <div class="col-md-3">
        <div class="widget widget-map">
          <img src="assets/images/page/bg-ft.png" alt="">
        </div>
      </div> -->
      <!-- /.widget-map -->
      <!-- /.col-md-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /footer -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-ft">
          <li>
            <a href="https://www.facebook.com/%D8%AF%D9%84%D9%8A%D9%84-%D8%A7%D9%84%D9%85%D8%B1%D8%B3%D8%A7%D9%84-113410746699366/" target="_blank" title="">
              <i class="ti-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/mersal_al" target="_blank" title="">
              <i class="ti-twitter-alt" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/almersalgroupe/" target="_blank" title="">
              <i class="ti-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/almersal-group-90508a193/" target="_blank" title="">
              <i class="ti-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="mailto:info@almersal.co" title="">
              <i class="ti-email" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <!-- /.social-ft -->
        <div class="copyright">
          © All rights reserved by Al-Mersal 2019

        </div>
        <!-- /.copyright -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.footer-bottom -->
