<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget widget-about">
          <div class="logo-ft">
            <a href="{{localAddress}}" title="">
              <img src="{{logoAddress}}" />
            </a>
          </div>
          <p>
            The most comprehensive electronic guide and advertising magazine
          </p>
        </div>
        <!-- /.widget-about -->
      </div>
      <div class="col-md-4">
        <div class="widget widget-contact">
          <h3 class="widget-title">{{'contactInfo' | translate}}</h3>
          <ul class="contact-infomation">
            <!-- <li class="address">
                    PO Box 16122 JisrAbiadh Street, Damascus, Syria
                  </li> -->
            <li class="phone">
              9753
            </li>
            <li class="email">
              almersalgroupe@gmail.com
            </li>
          </ul>
        </div>
        <!-- /.widget-contact -->
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-4">
        <div class="widget widget-categories">
          <h3 class="widget-title"><a style="color:white" href="http://almersal.co/privacy">{{'privacyAndTerms' |
              translate}}</a></h3>

        </div>
      </div>
      <!-- /.widget-categories -->
      <!-- /.col-md-3 -->


      <!-- /.col-md-3 -->
      <!-- <div class="col-md-3">
        <div class="widget widget-map">
          <img src="assets/images/page/bg-ft.png" alt="">
        </div>
      </div> -->
      <!-- /.widget-map -->
      <!-- /.col-md-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /footer -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-ft">
          <li>
            <a href="#" title="">
              <i class="ti-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-twitter-alt" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-google" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-pinterest" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <!-- /.social-ft -->
        <div class="copyright">
          © All rights reserved by Al-Mersal 2019

        </div>
        <!-- /.copyright -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.footer-bottom -->