<div class="business">
  <div class="business-icon">
    <img src="assets/images/page/paprika.jpg" />
  </div>
  <div class="business-text">
    <div class="title">
      <a [routerLink]="['/business',business['nameUnique']]">
        <h4 *ngIf="lang=='ar'">{{business['nameAr']}}</h4>
        <h4 *ngIf="lang=='en'">{{business['nameEn']}}</h4>
      </a>
    </div>
    <div class="desc">
      {{business['description']}}
    </div>
  </div>
  <div class="business-control">
    <div class="business-control-edit">
      <a href="#">{{'edit' | translate}}
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="business-control-delete">
      <a href="#">{{'delete' | translate}}
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
