<div class="business">
  <div class="business-icon">
    <img src="assets/images/page/paprika.jpg" />
  </div>
  <div class="business-text">
    <div class="title">
      <h4>مطعم Paprika</h4>
    </div>
    <div class="desc">
      مطعم شاورما عربي في دمشق
    </div>
  </div>
  <div class="business-control">
    <div class="business-control-edit">
      <a href="#">تعديل
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="business-control-delete">
      <a href="#">حذف
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>